/* Barra de Scroll */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #c6c6c6; 
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa; 
}

/* Configurações do Painel */

body {
  margin: 0px;
  padding: 0px;
  background-color: #ebedef;
}

.main {
  margin-left: 220px;
  padding: 15px;
}

.nav-side-menu {
  overflow: auto;
  position: fixed;
  top: 0px;
  width: 220px;
  height: 100%;
  background-color: #ebefed;
}

.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 4rem;
  cursor: pointer;
  visibility: visible !important;
}

.arrow {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu li i.sidebar-icon {
  margin-right: 0.6rem;
  font-size: 1.5em;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #ebedef;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #dddddd;
}

.nav-side-menu li a {
  display: block;
  text-decoration: none;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #aaaaaa;
  border-color: #aaaaaa;
  background-color: #dfdfdf;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
background-color: #aaaaaa;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #e6e6e6;
  border: none;
  line-height: 3.4rem;
  border-bottom: 1px solid #c6c6c6;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #dddddd;
}

.nav-side-menu li .sub-menu li a,
.nav-side-menu ul .sub-menu li a{
  display: block;
  padding-left: 20px;
}

.nav-side-menu ul .sub-menu li a i,
.nav-side-menu li .sub-menu li a i{
  padding-right: 10px !important;
}
@media (max-width: 767px) {
  .main {
      margin-left: 0 !important;
      padding: 0 15px 15px 15px;
  }
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 7px;
    z-index: 10 !important;
    padding: 3px;
    width: 40px;
    text-align: center;
    background-color: #ebedef;
    border-radius: 4px;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

/* Configurações adicionais */

img.img-hover:hover{
	-webkit-filter: invert(0.25) !important; /* Safari 6.0 - 9.0 */
	filter: invert(0.25) !important;
}


.text-ipci-admin {
  color: rgb(29, 29, 29) !important;
}

a.text-ipci-admin, button.text-ipci-admin {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
 }
 a.text-ipci-admin:hover, a.text-ipci-admin:focus, button.text-ipci-admin:hover, button.text-ipci-admin:after {
   color: #444444 !important;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

/* Data tables */
a.page-link:after {
  background: #04be68 !important;
}
a.page-link:focus {
  background: #05995c !important;
}

a.a-hover:hover {
  filter: brightness(0.75);
}
