body {
	background: none;
}

/* Configurações específicas */
/* Navbar */
a.navbar-brand{
	width: 115px;
}

/* Imagem:Hover */
.img-hover:hover{
	-webkit-filter: brightness(0.75) !important; /* Safari 6.0 - 9.0 */
	filter: brightness(0.75) !important;
}

/* Opacidade */
.opacidade-25 {
	opacity: 0.75;
}
.opacidade-50 {
	opacity: 0.5;
}

.opacidade-75 {
	opacity: 0.25;
}



/* Nav */
.fixed-top-2 {
	margin-top: 75px;
}
#navbar {
   -webkit-transition: top 0.3s;
   -o-transition: top 0.3s;
   transition: top 0.3s; 
}
.bg-dark-50 {
   background-color: rgba(0, 0, 0, 0.6);
}

/* Carrosel */
.carousel-item2 .view img{
   margin-top: 0;
   max-height: 400px;
   width: auto;
   text-align: center;
}
.rounded-xl {
	border-radius: 50px;
}
.background-gradient-ipci-dark {
	background: radial-gradient(circle, #1A1A1A 15%, #121212 85%);
}
.background-gradient-ipci {
	background: radial-gradient(circle, #04BE68 15%, #05995C 85%);
}
.background-gradient-ipci-secondary {
	background: radial-gradient(circle, #921524 15%, #690D17 85%);
}
.background-gradient-ipci-terciary {
	background: radial-gradient(circle, #173095 15%, #091E52 85%);
}
.carousel-caption2 {
   top: 55%;
   -webkit-transform: translateY(-50%);
	   -ms-transform: translateY(-50%);
		   transform: translateY(-50%);
   width: auto;
}

.carousel .carousel-control-card {
   height: 100px;
   width: 40px;
   background: none;
   margin: auto 0;
   background: rgba(0, 0, 0, 0.2);
}


.carousel-control-prev-card {
   left: -7.5%;
}
.carousel-control-next-card {
   right: -7.5%;
}
@media (max-width: 1024px){
   .carousel-control-prev-card {
	   left: -2%;
   }
   .carousel-control-next-card {
	   right: -2%;
   }
}



/* Personalização das cores do MDB */

/* Data tables */
.pagination .page-item.disabled .page-link {
    background-color: white !important;
}

/* Barra de Scroll */
::-webkit-scrollbar {
  	width: 15px;
  	height: 15px;
}
::-webkit-scrollbar-track {
  	background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  	background: #04BE68; 
}

::-webkit-scrollbar-thumb:hover {
  	background: #05995C; 
}

/* Seleção de texto */
::-moz-selection {
	background: #b7ffd7; /* WebKit/Blink Browsers */
  }
::selection {
	background: #b7ffd7; /* WebKit/Blink Browsers */
  }

/* Definição da paleta de cores nos itens*/
.bg-ipci-primary {
    background-color: #04BE68;
  }
  
a.bg-ipci-primary:hover, a.bg-ipci-primary:focus,
button.bg-ipci-primary:hover,
button.bg-ipci-primary:focus {
	background-color: #05995C;
}

.bg-ipci-primary-dark {
    background-color: #05995C;
  }
  
a.bg-ipci-primary-dark:hover, a.bg-ipci-primary-dark:focus,
button.bg-ipci-primary-dark:hover,
button.bg-ipci-primary-dark:focus {
	background-color: rgb(4, 122, 73);
}

.ipci-primary-color, ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
    background-color: #04BE68 !important;
}
  
.ipci-primary-color-dark {
    background-color: #05995C !important;
}

.text-ipci-primary {
 	color: #04BE68 !important;
}

a.text-ipci-primary:hover, a.text-ipci-primary:focus {
  	color: #05995C !important;
}

.text-ipci-secondary {
 	color: rgb(190, 4, 4) !important;
}

a.text-ipci-secondary:hover, a.text-ipci-secondary:focus {
  	color: rgb(153, 5, 5) !important;
}



.text-ipci-nocolor {
 	color: rgb(29, 29, 29) !important;
}

a.text-ipci-nocolor, a.text-ipci-primary, a.text-ipci-primary-dark, button.text-ipci-nocolor {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
	a.text-ipci-nocolor:hover, a.text-ipci-nocolor:focus, button.text-ipci-nocolor:hover, button.text-ipci-nocolor:after {
		color: #04BE68 !important;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
}

.text-ipci-nocolor-w {
	color: rgb(255, 255, 255) !important;
}

a.text-ipci-nocolor-w, a.text-ipci-primary, a.text-ipci-primary-dark, button.text-ipci-nocolor-w {
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   }
   a.text-ipci-nocolor-w:hover, a.text-ipci-nocolor-w:focus, button.text-ipci-nocolor-w:hover, button.text-ipci-nocolor-w:after {
	   color: #04BE68 !important;
	   -webkit-transition: all 0.3s ease-in-out;
	   -o-transition: all 0.3s ease-in-out;
	   transition: all 0.3s ease-in-out;
}


.text-ipci-nocolor-secondary {
	color: rgb(29, 29, 29) !important;
}

a.text-ipci-nocolor-secondary, a.text-ipci-primary, a.text-ipci-primary-dark, button.text-ipci-nocolor-secondary {
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   }
   a.text-ipci-nocolor-secondary:hover, a.text-ipci-nocolor-secondary:focus, button.text-ipci-nocolor-secondary:hover, button.text-ipci-nocolor-secondary:after {
	   color: #931524 !important;
	   -webkit-transition: all 0.3s ease-in-out;
	   -o-transition: all 0.3s ease-in-out;
	   transition: all 0.3s ease-in-out;
}


/* Inputs Radio e Checkbox */

.custom-control-input:checked~.custom-control-label::before, .custom-control-input:checked~.custom-control-label::before{
	background-color:#04BE68 !important;
}

.custom-control-input:active~.custom-control-label::before{
	background-color:rgb(4, 190, 104, 0.25) !important;
}

.custom-control-input:checked~.custom-control-label::before, .custom-control-input:focus~.custom-control-label::before{
	-webkit-box-shadow: 0 0 0 1px rgb(4, 190, 104), 0 0 0 0.2rem rgb(5, 153, 92, 0.25) !important;
	        box-shadow: 0 0 0 1px rgb(4, 190, 104), 0 0 0 0.2rem rgb(5, 153, 92, 0.25) !important;
	border-color: #04BE68 !important;	
}

/* Range */

.custom-range:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(5, 153, 92, 0.25) !important;
}

.custom-range:focus::-moz-range-thumb {
box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(5, 153, 92, 0.25) !important;
}

.custom-range:focus::-ms-thumb {
box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(5, 153, 92, 0.25) !important;
}

.custom-range::-webkit-slider-thumb {
	background-color: #04BE68 !important;
}
.custom-range::-webkit-slider-thumb:active {
	background-color: #05995C !important;
}

/* Form-control */

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #04BE68;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(4, 190, 104, 0.25);
}

/* Galeria produto */

.thumbs img, .cover img {
	max-height: 100%;
	max-width: 100%;
}
#carrosel-galeria .carousel-item img {
	max-height: 75px;
	max-width: 75px;
}
.cover {
	height: auto;
}
.thumbs img.active-img{
	border-color: #04BE68 !important;
}

img {
	width: 150px;
  }
  
/* Inputs */
  .number-input input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input {
margin-bottom: 2rem;
}

.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.number-input button.plus:after {
-webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
text-align: center;
}

.number-input.number-input {
border: 1px solid #ced4da;
border-radius: .25rem;
}

.number-input.number-input button {
width: 2.6rem;
height: .7rem;
}


.number-input.number-input button:before,
.number-input.number-input button:after {
width: .7rem;
background-color: #212924;
}

.number-input.number-input input[type=number] {
max-width: 4rem;
padding: .5rem;
border: 1px solid #ced4da;
border-width: 0 1px;
font-size: 1rem;
height: 2rem;
color: #495057;
}

/* Qtd produtos */
.shopping-cart .def-number-input.number-input {
border: none; }
.shopping-cart .def-number-input.number-input input[type=number] {
  max-width: 2rem;
  border: none; }
  .shopping-cart .def-number-input.number-input input[type=number].black-text, .shopping-cart .def-number-input.number-input input.btn.btn-link[type=number], .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
  .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
	color: #212529 !important; }
.shopping-cart .def-number-input.number-input button {
  width: 1rem; }
  .shopping-cart .def-number-input.number-input button.minus:before, .shopping-cart .def-number-input.number-input button.minus:after {
	background-color: #505050; }
  .shopping-cart .def-number-input.number-input button.plus:before, .shopping-cart .def-number-input.number-input button.plus:after {
	background-color: #04BE68; }

.shopping-cart .back-link {
position: absolute;
bottom: 0; }

.ipci-border {
	border-top: 2px solid #04BE68;
	}


/* Selectize */
.selectize-input.focus {
	color: #495057 !important;
	background-color: #fff !important;
	border-color: #04BE68 !important;
	outline: 0 !important;
	box-shadow: 0 0 0 0.2rem rgb(4, 190, 104, 0.25) !important;
}
.selectize-dropdown [data-selectable] .highlight {
  background: #b7ffd7 !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 34px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333333 transparent transparent transparent;
}
